/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BACKGROUND */
body {
    background: linear-gradient(135deg, #d9d9d9);
}

/* LAYOUT */
.container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.left {
    flex: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 280px;
    width: 280px;
    margin-bottom: 10px;
    object-fit: contain;
}

.branding {
    padding-left: 300px;
}

.branding h1 {
    font-size: 48px;
    font-weight: bold;
    color: #222;
}

.branding p {
    font-size: 20px;
    color: #444;
    margin-top: 5px;
}

/* RIGHT SIDE */
.right {
    flex: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORM BOX */
.form-box {
    min-height: 350px;
    width: 500px;
    padding: 60px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    text-align: center;
}

/* TITLE */
.form-box h2 {
    margin-bottom: 10px;
}

.sub-text {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.form-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.password-box {
    position: relative;
}

.password-box input {
    width: 100%;
    padding: 12px;
    padding-right: 45px; /* space for icon */
    border: 1px solid #ccc;
    border-radius: 8px;
}

.password-box i {
    padding-bottom: 13px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
    font-size: 16px;
}

/* BUTTON */
.primary {
    width: 100%;
    padding: 12px;
    background: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.primary:hover {
    background: #555;
}

/* ERROR / SUCCESS */
.form-box p[style*="red"],
.form-box p[style*="green"] {
    font-size: 14px;
    margin-bottom: 10px;
}

/* BACK LINK */
.back {
    margin-top: 15px;
}

.back a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.back a:hover {
    text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .left {
        display: none;
    }

    .right {
        flex: 1;
    }

    .form-box {
        width: 90%;
        padding: 40px;
    }
}