<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Change Password - Verifio</title>
<link rel="icon" href="/static/images/logo.png">
<link rel="stylesheet" href="/static/css/curr_password.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<div class="container">

    <!-- LEFT SIDE -->
    <div class="left">
        <div class="branding">
            <img src="/static/images/logo.png" class="logo">
            <h1 style="padding-left: 65px;">Verifio</h1>
            <p style="padding-left: 35px;">The Truth Behind Paper</p>
        </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="right">

        <div class="form-box">

            <h2>Change Password</h2>
            <p class="sub-text">Enter Current Password</p>

            <form method="POST" action="/reset-logged-password">

                <div class="password-box">
                    <input type="password" id="password" name="password" placeholder="Enter current password" required>
                    <i class="fa-solid fa-eye" onclick="togglePassword(this)"></i>
                </div>
                <p id="pass-msg" style="padding-bottom: 2px;"></p>

                <button type="submit" class="primary">Change Password</button>

                <p class="back">
                    <a onclick="Profile()" style="cursor: pointer">← Back</a>
                </p>

            </form>
        </div>

    </div>

</div>
<script>
function Profile(){
    window.location.href="/profile";
}

document.querySelector("form").addEventListener("submit", function(e){

    e.preventDefault();

    const password = document.getElementById("password").value;
    const msg = document.getElementById("pass-msg");

    fetch('/verify-password', {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({password: password})
    })
    .then(res => res.json())
    .then(data => {

        if(!data.correct){
            msg.innerText = "Please enter correct password.";
            msg.style.color = "red";
        } else {
            msg.innerText = "";
            window.location.href = "/reset-logged-password";
        }

    })
    .catch(err => console.log(err));

});

function togglePassword(icon) {
    let input = icon.previousElementSibling;

    if (input.type === "password") {
        input.type = "text";
        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");
    } else {
        input.type = "password";
        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
    }
}
</script>
</body>